venv/
*/**/node_modules/
*/**/venv/
*/**/env/
*/**/ENV/
*/**/.env
*/**/.env.local
*/**/.env.development.local
*/**/.env.test.local
*/**/.env.production.local
*/**/.env.development
*/**/.env.test
*/**/.env.production
tutorials/nemotron-safety-dataset-adaptation/converted_dataset.jsonl

.env
launch.json

*/**/tsconfig.json
*/**/package-lock.json